@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Start sidebar */
.head-sidebar{
    display: grid;
    background: #FBFCFC;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    gap: 10px;
}
.arca{
    display: grid;
    align-content: center;
    justify-content: center;
}
.arca img{
    height: 35px;
}
.menu{
    display: grid;
    align-content: center;
    justify-content: center;
}
.menu img{
    height: 25px;
    cursor: pointer;

}
.body-dashboard{
    background: #FBFCFC;
    height: calc(100vh - 90px);
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}

.con-item{
    display: grid;
    height: 58%;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-auto-rows: 60px;
}

.item-sidebar{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: rgba(23 32 42/0.6);
    display: grid;
    grid-template-columns: 8px 26px 208px;
    grid-template-rows: 100%;
    display: grid;
    align-content: center;
    text-decoration: none;
    gap: 15px;
}
.item-help{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: rgba(23 32 42/0.6);
    grid-template-columns: 8px 26px 208px;
    grid-template-rows: 100%;
    display: grid;
    align-content: center;
    text-decoration: none;
    gap: 15px;
    height: 60px;
    margin-bottom: 30px;
}
.item-help .con-ico-item img{
    width: 90px;
}
.color-item{
    width: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/* .item-active{
    color: var(--main-color);
}
.item-active .color-item{
    background: var(--main-color);
} */

.name-item{
    display: grid;
    align-content: center;
    padding-left: 10px;
    padding-right: -10px;
    font-size: 17px;
}
.section-item{
    font-weight: bold;
    margin-left: -2px;
    color: black;
    /* display: none; */
}
.section-item .color-item{
    background: none;
}
.con-ico-item{
    display: grid;
    justify-content: center;
    align-content: center;
}
.con-ico-item img{
    width: 80%;
}

.btn-des-sidebar{
    background: white;
    box-shadow: 1px 1px 3px 1px rgba(23 32 42/0.1);
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: grid;
    justify-items: center;
    align-items: center;
    
    position: fixed;
    top: 30px;
    z-index: 10;
    left: 245px;
    
    border-radius: 5px;
    cursor: pointer;
}
.btn-des-sidebar img{
    width: 80%;
}
.item-help , .con-btn-help{
    display: none;
}

.con-foo-sidebar{
    display: grid;
    justify-items: center;
    align-content: flex-end;
    height: 42%;
    overflow-x: hidden;
}
.con-help-center{
    background: rgb(50 40 108 / 0.4);
    display: grid;
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    position: relative;
    height: 200px;
    width: 75%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.head-help{
    position: absolute;
    top: -26px;
    width: 100%;
    display: grid;
    justify-content: center;

}
.head-help img{
    height: 55px;
}
.con-help-center h3{
    font-family: 'Poppins';
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    font-weight: 700;
}
.con-help-center p{
    font-family: 'Nunito';
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
}
.con-help-center a{
    background: #FBFCFC;
    text-decoration: none;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins';
    color: black;
    font-size: 14px;
    font-weight: bold;
}

/* Navbar */
.navbar-dash{
    /* background: rgba(23 32 42/0.1); */
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100%;
    justify-content: space-between;
    /* background: red; */
}
.left{
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: repeat(2, 40px);
    padding-left: 60px;
    /* padding-top: 30px; */
    align-content: center;
    row-gap: 5px;
}
.left h2, .left h4, .right h4, .right a{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.con-name-page{
    display: grid;
    align-items: flex-end;
}

.con-desc-page{
    display: grid;
    align-items: flex-start;
}
.left div h2{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 24px;
}
.right{
    /* padding-top: 30px; */
    padding-right: 60px;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(2, 40px);
    /* row-gap: 5px; */
    justify-content: end;
}
.right div img{
    /* margin-top: -20px; */
    width: 100%;
    height: 48px;
}
.con-photo-user{
    grid-column: 6/7;
    grid-row: 1/3;
    display: grid;
    justify-content: center;
    align-items: center;
}
.con-user-page{
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    align-content: flex-end;
    /* margin-top: -6px; */
}
.con-action-page{
    grid-column: 1/5;
    grid-row: 2/3;
    align-content: center;
    /* margin-top: -10px; */
}
.con-action-page a{
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
}
.menu{
    display: none;
}
.con-sidebar-a{
    background: rgb(23, 32, 42,0.5);
    width: calc(100vw - 260px);
    position: absolute;
    height: 100vh;
    z-index: 2000;
    display: none;
    transition: all 0.6s;
    left: -6000px;
}

/* Design tabla */
.info-table{
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: 100%;
    height: 90px;
    margin-bottom: 20px;
}
.section-1{
    grid-column: 1/4;
    display: grid;
    align-content: center;
    font-family: 'Poppins';
    color: var(--main-color);
    font-size: 1.4rem;
    padding-left: 10%;
}
.section-1 h3{
    font-weight: 580;
}
.section-3{
    grid-column: 5/7;
    display: grid;
    align-content: center;
}
.section-3 input{
    width: 160px;
    height: 40px;
    margin-right: 20px;
    padding: 0px 20px;
    outline: none;
    font-family: 'Poppins';
    border-radius: 10px;
    border-style: none;
    background: rgb(244 246 247/0.7);
    box-shadow: -1px 1px 1px 1px rgb(0 0 0/0.6);

}
.section-3 input::placeholder{
    font-family: 'Nunito';
}

#inpt-search{
    width: 160px;
    height: 40px;
    margin-right: 20px;
    padding: 0px 20px;
    outline: none;
    font-family: 'Poppins';
    border-radius: 10px;
    border-style: none;
    background: rgb(244 246 247/0.7);
    box-shadow: -1px 1px 1px 1px rgb(0 0 0/0.6);
}
#inpt-search::placeholder{
    font-family: 'Nunito';

}
.section-4{
    grid-column: 7/9;
    display: grid;
    align-content: center;
    grid-template-columns: 50px 50px;
    justify-content: flex-end;
    padding-right: 50px;
}
.section-4 img{
    transform: rotateY(200deg);
}
.section-4 a{
    display: grid;
    justify-content: flex-end;
    color: rgb(23 32 42/1);
    text-decoration: none;
    font-family: 'Nunito';
    justify-content: center;
    align-content: center;
}
.section-2{
    display: grid;
    align-content: center;
    justify-content: flex-end;
}
.section-2 select{
    width: 70px;
    height: 40px;
    margin-right: 20px;
    padding-left: 7px;
    outline: none;
    border-radius: 10px;
    border: none;
    border-style: none;
    background: rgb(244 246 247/0.7);
    box-shadow: -1px 1px 1px 1px rgb(0 0 0/0.6);
    font-family: 'Poppins';
}
.section-2 select option{
    font-family: 'Nunito';
}
.con-table-u{
    display: grid;
    justify-items: center;
}
table{
    background: white;
    border-radius: 10px;
    width: 90%;
}
thead tr{
    background: rgb(72 61 139 / 0.8);
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    border-radius: 10px;
    height: 60px;
    text-align: center;
}
thead tr #first-clm, .row-secondary #first-clm{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
thead tr #last-clm, .row-secondary #last-clm{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; 
}

tbody{
    transition: all 0.3s;
}
tbody tr{
    height: 60px;
    text-align: center;
    transition: all 0.3s;
    font-family: 'Nunito';
    font-weight: lighter;
    font-size: 14px;

}
.row-secondary{
    background: rgba(23, 32, 42, 0.1);
    border-radius: 10px;
    transition: all 0.3s;
}
tr .con-actions{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-content: center;
    margin-top: 20px;

}
tr .con-actions a{
    display: grid;
    justify-content: center;
    align-content: center;
}
tr .con-actions a img{
    height: 20px;
}
#table-co_wrapper{
    width: 90%;
    margin-bottom: 80px;
}
#table-co{
    margin-top: 70px;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td{
    text-align: center;
}
/* Responsive design */

@media(max-width:980px){
    .container-dashboard{
        grid-template-columns: 140px 1fr;
    }
    .sidebar-dash{
        width: 70px;
    }
    .btn-des-sidebar{
        display: none;
    }
    .left{
        display: none;
    }
    .right{
        grid-column: 1/3;
    }
    .menu{
        display: grid;
    }
    .head-sidebar{
        grid-template-columns: 50% 50%;
    }
    .head-sidebar{
        position: relative;
        background: none;
    }
    .body-dashboard{
        position: absolute;
        width: 260px;
        top: 0px;
        height: 100vh;
        z-index: 2000;
        left: -260px;
        transition: all 0.6s;
        width: 260px;

    }
    .con-sidebar-a{
        display: block;
        left: -6000px;
        right: auto;
    }
    .con-help-center{
        display: none;
    }
    .item-help{
        display: grid;
    }
    table{
        width: 90%;
    }
    #hidden-res{
        display: none;
    }
    .body-contenido{
        padding-left: 0px;
        padding-right: 0px;
    }
    .info-table{
        grid-template-columns: 40% 40%;
        grid-template-rows: repeat(3,60px);
        height: 190px;
        row-gap: 10px;
    }
    .section-1{
        grid-column: 1/3;
    }
    .section-2{
        grid-column: 1/2;
        justify-content: flex-start;
        padding-left: 54px;
    }
    .section-2 select{
        width: 150px;
    }
    .section-3{
        grid-column: 2/3;
        padding-left: 0px;
    }
    .section-3 input{
        width: 80%;
    }
    .section-4{
        grid-column: 1/3;
        justify-content: flex-start;
        padding-left: 54px;
    }
}

@media (max-height:640px){

    .con-help-center{
        height: 75px;
        justify-content: center;
        align-content: flex-end;
        margin-bottom: 10px;
    }
    .con-help-center h3, .con-help-center p{
        display: none;
    }
    .con-help-center a{
        margin-bottom: 10px;
    }
}