h1 {
    font-family: 'Poppins', sans-serif;;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}
.txtColor {
    color: var(--main-color);
}

.contenedor {
    padding: 30px 80px 30px 80px;
}

.textArea:hover {
    border: none;
}

input {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .7vw;
    border: none;
    width: 22vw;
    height: 6vh;
    padding-left: 2vw;
    margin: 1.5vh 0;
    padding-top: 1vh;
}

input::placeholder {
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 1vh;
}

select {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .7vw;
    border: none;
    width: 20vw;
    height: 6vh;
    padding-left: 2vw;
    margin: 1.5vh 0;
    padding-top: 1vh;
}

.Btn {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7vw;
    text-align: center;
    border: none;
    width: 10vw;
    height: 6vh;
    padding: 0;
    margin: 0;
    margin: 1.5vh 0;
}

.Btn2 {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7vw;
    text-align: center;
    border: none;
    width: 10vw;
    height: 6vh;
    padding: 0;
    margin: 0;
    margin: 1.5vh 0;
    background: var(--main-color);
    color: #FFFFFF;
}

textarea {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .7vw;
    border: none;
    width: 40vw;
    height: 6vh;
    padding-left: 2vw;
    margin: 1.5vh 0;
    padding-top: 1vh;
    resize: none;
    width: 100%;
    border: none;
}