.form-floating select, .form-floating input{
    font-family: 'Poppins';
    font-weight: 590;
    font-family: 'Poppins';
    font-weight: 600;

    background: rgb(244 246 247/0.7);
    border: none;
    box-shadow: -1px 1px 1px 1px rgb(0 0 0/0.05);
    border-radius: 15px;
}
.form-floating select option, .form-floating label, .form-floating input::placeholder{
    font-family: 'Nunito';
}
.header-hor a{
    color: rgb(23 32 42/0.6);
    text-decoration: none;
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.con-form-hor{
    background: #FBFCFC;
    padding: 35px;
    border-radius: 10px;
    width: 100%;
    min-width: 340px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.h-form-hor img{
    display: none;
}
.h-form-hor{
    display: grid;
    grid-template-rows: 60px;
    justify-content: center;
    align-content: center;
}
.h-form-hor h3{
    padding: 0px;
    margin: 0px;
    font-weight: 650;
    font-size: 1.5rem;
}
.con-dc .h-dc, .con-hr .h-hr{
    display: grid;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    justify-content: center;
    grid-template-columns: 100%;
}
.con-dc .h-dc p,.con-dc .h-dc hr, .con-hr .h-hr p, .con-hr .h-hr hr{
    padding: 0px;
    margin: 0px;
    color: #483D8B;
}
hr{
  color: black;  
}
.con-dc, .con-hr{
    margin-bottom: 30px;
}
.con-btn-ht{
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 50px;
    justify-content: center;
}
.con-btn-ht input{
    border-radius: 10px;
    background: var(--main-color);
    color: white;
    border: none;
    font-family: 'Poppins';
}
.data-picker{
    width: 100%;
    height: 58px;
    font-family: 'Poppins';
    font-weight: 600;

    background: rgb(244 246 247/0.7);
    border: none;
    box-shadow: -1px 1px 1px 1px rgb(0 0 0/0.05);
    border-radius: 15px;
    padding-left: 12px;
}
.body-hr, .body-dc{
    display: grid;
    row-gap: 20px;
}
@media (min-width: 700px) {
    .h-form-hor img{
        display: block;
    }
    .h-form-hor{
        grid-template-columns: 1fr 45px;
        align-items: center;
        justify-content: space-between;
    }
    .body-dc, .body-hr{
        grid-template-columns: repeat(2, 45%);
        row-gap: 20px;
        column-gap: 10%;
    }
}
@media (min-width: 1240px){
    .con-form-hor{
        width: 900px;

    }
    .body-dc{
        grid-template-columns: 280px 1fr 200px;
        row-gap: 20px;
        column-gap: 20px;
    }
    .body-hr{
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
}
.body-hor{
    display: grid;
    justify-content: center;
    margin-top: 40px;
}