@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #F4F6F7;
    box-sizing: border-box;
}
:root{
    --main-color: #483D8B;
}

.container{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 100vw;
    height: 100vh;
}
.menu{
    grid-column: 1/5; 
    width: 280px;
    grid-row: 1/21;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
.header{
    grid-column: 5/21;
    grid-row: 1/3;
    height: 100px;
    background: #F4F6F7;
}
.body_dash{
    grid-column: 6/30;
    grid-row: 4/10; 
    padding: 0px 2vw 0vw 1vw;
} 

::-webkit-scrollbar{
    width: 7px;
    background: #473d8b17;
}
::-webkit-scrollbar-thumb{
    background: #483D8B;
    border-radius: 10px;
}