body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FBFCFC;
}
/*Estilos imagen registro*/
.con-img-register{
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    padding: 0px;
}
.con-img-register img{
    margin: 0px;
    padding: 0px;
    height: 100%;
    object-fit: contain;
    position: absolute;
    right: 0px;
}

.container-register{
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: 150px 90vh;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Estilos formulario */
.con-register{
    padding-top: 30px;
    display: grid;
    grid-column: 1/2;
}
.con-register .row{
    margin-bottom: 10px;
}
.head-register{
    grid-column: 1/3;
    text-align: center;
    display: grid;
    align-items: center;
}
.head-register h1{
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: bolder;
}
.head-register h5{
    margin-top: -20px;
    font-family: 'Nunito';
    font-weight: 500;
}
.head-register h5 a{
    color: #483D8B;
    text-decoration: none;
}

input{
    font-family: 'Poppins';
    font-weight: bolder;
    outline: none;
    background: rgb(244 246 247 / 0.5) !important;
    border: 0px solid !important;
    box-shadow: 2px 1px 1px 1px rgb(0 0 0 / 0.25);
}
.date-input::-webkit-calendar-picker-indicator{
    background: none;
}
:-webkit-input{
    background: none;
}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.number-input {
  -moz-appearance: textfield;
}
select{
    background: rgb(244 246 247 / 0.5) !important;
    border: 0px solid !important;
    box-shadow: 2px 1px 1px 1px rgb(0 0 0 / 0.25);
    position: relative !important;
}
label{
    font-family: 'Nunito' !important;
    font-weight: 600 !important;
    /* z-index: - !important; */
}
input:focus{
    outline: none !important;
}
.con-btn{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}
.con-btn button{
    width: 110px;
    height: 40px;
    background: var(--main-color);
    color: white;
    font-family: 'Poppins';
    border-radius: 10px;
    border: 0px;
}

.ico-input{
    display: grid !important;
    justify-content: center !important;
    align-content: center !important;
    width: 25px !important;
    height: 30px !important;
    position: absolute !important;
    top: 15px !important;
    right: 15px !important;
    z-index: -1 !important;

}
.ico-input img{
    width: 100% !important;
    height: 100% !important;
}
.row{
    column-gap: 20px;
}